body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.actor {

    color: blue;

}

.destaque {

    color: blue;
}


h1 {
    font-weight: 600;
    font-style: italic;
}

h2 {
    font-weight: 400;

}

h3 {
    font-style: bold;
    font-weight: 400;


}

.listaElenco {

    list-style: disc;

}

ul {
    list-style: none;
    padding-left: 5px;
}

a {
    color: blue;
    text-decoration: none;
}


.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.footer {

    text-decoration: underline;
    text-align: center;
    min-height: 70px;
    border-top: solid 1px #cdcdcd;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;

}

.sidebar {
    border-right: solid 1px #cdcdcd;
}

.tabelaep {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tabelaep th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

.tabelaep th {
    background-color: #f2f2f2;
}

.tabelaep tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*
 created by Pedro Henrique
*/